<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <%= yield %>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
  </body>
</html>
